html {
    overflow-y: scroll;
}

body {
    font-size: 15px;
    color: #555;
    text-rendering: optimizeLegibility;
    background-color: #fff;
}

.category-content .row,
.dashboard-menu .row {
    flex-wrap: nowrap;
}

/*/ ---------------------------------------------------------------- /*/
/*/ ---------------------- MEDIA-QUERIES --------------------------- /*/
/*/ ---------------------------------------------------------------- /*/

@media only screen and (max-width: 1080px) {
    body {
        font-size: 10px !important;
    }

    .navbar-brand img {
        height: 63px !important;
        width: auto;
    }
}

@media only screen and (max-width: 725px) {
    body {
        font-size: 7px !important;
    }

    .navbar-brand img {
        height: 44px !important;
        width: auto;
    }
}

@media only screen and (max-width: 576px) {
    body {
        font-size: 12px !important;
    }

    .navbar-brand {
        padding-top: 0.31rem;
        padding-bottom: 0;
    }

    .navbar-brand img {
        height: 70px !important;
        width: auto;
    }
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

