.category-content {
    text-align: center;
    margin-bottom: 400px;
}

.category-content a {
    text-decoration: none;
    color: inherit;
    transition: color .3s ease;
    -webkit-transition: color .3s ease;

}

.category-title,
.category-icon {
    font-size: 150%;
}

.category-content a:hover {
    color: #8B4513
}

.category-content h4 {
    font-weight: 400;
    text-transform: capitalize;
}

.category-box {

}

